
body{
    background-color: #FFF;
}

#box{
    margin: auto;
    display: table;
}

#table{
    box-sizing: border-box;
    width : 550px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

#table div{
    width : 172px;
    height: 172px;
    background-color: #EEE;
}

#table span{
    float: left;
    text-align: center;
    display: block;
    border-top: 1px solid #BBB;
    border-left: 1px solid #BBB;
    width : 56px;
    height: 56px;
    line-height: 56px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#bt-list{
    font-size: 0.8em;
    padding : 0.5em 0;
    display: flex;
    justify-content: space-around;
}

#fileId {
    width: 5em;
    text-align: center;
}

#getRange {
    width : 3em;
    text-align: center;
}

.helpinfo span{
    color : #555;
    font-weight: bold;
}